header{
    background-color: #fff;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation{
    height: 4rem;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

.iconlogo{
    margin-top: 0.5rem;
    width: 35px;
    height: 35px;
}

.searchbox{
    margin-top: 0.95rem;
    width: 215px;
    height: 28px;
    background: #fafafa;
    font-size: 14px;
    text-align: center;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    appearance: none;

}

.flex-container ul li{
    list-style-type: none;
    margin:0 1em;
}

body{
    background-color: #fafafa;
}

#feed{
    background-color: #fff;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    width: 600px;
}

.grid-profile-feed{
    display: grid;
    grid-template-columns: 10% 90%;
    margin: 0.5rem 0 0.5rem 0;
}

.grid-profile-feed > .profile-name{
    align-self: center;
    justify-self: start;
}

.grid-profile-feed > .profile-pic{
    align-self: center;
    justify-self: center;
}


.profile-gede{
    max-width: 3rem;
    max-height: 3rem;
    border-radius: 3rem;

}

.profile-kecil{
    max-width: 2rem;
    max-height: 2rem;
    border-radius: 3rem;
}

.profile-name{
    font-weight: bold;
}

.icon{
    max-width: 2rem;
    max-height: 2rem;
}

figure{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0; 
}

.picture{
    width: 600px;
}

.captions{
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.captions-icon{
    margin-left: 0.5rem;
}

.right{
    float: right;
}

.commentbox{
    border-top: 1px solid #e6e6e6;
    padding-top: 0.5rem;
}

.inputcomment{
    border: 0;
}

#stories{
    width: 293px;
}

.grid-profile-story{
    display: grid;
    grid-template-columns: 22% 78%;
}

.grid-profile-story > .profile-pic{
    grid-row: 1/3;
}

.grid-profile-story > .profile-name{
    align-self: end;
}

.grid-profile-story > .desc{
    align-self: start;
}

.storyhead{
    border-bottom: 1px solid #e6e6e6;
}

a:link{
    text-decoration: none;
    color: black;
}